navbar
.container#form-container
	.row
		div.col-xs-10.col-xs-offset-1
			div.jumbotron.text-center.text-white.hidden-xs(style="background-image: url('../assets/images/checkout/03.jpg'); background-size: 100% auto;", ng-click="backToHome()")
				h1 谢谢您的购买
				p 我们的出货小组已经收到您的订单
				button.btn.btn-danger.btn-sharp.btn-lg.pull-right.text-justify(ng-click="backToHome()", role="button") 回到官网首页
					span.glyphicon.glyphicon-home.pull-right
			div.well.text-center.visible-xs(style="border:0px solid black;")
				h2 谢谢您的购买
				p 我们的出货小组已经收到您的订单
				a.btn.btn-default.btn-lg(ng-click="backToHome()", role="button") 回到官网首页
			.page-header.h4 
				| 订单资讯 （订单编号：{{order.order_id}}）
			.row
				.col-md-12
					table.table.table-default
						tr
							th.col-lg-6.col-md-6.col-sm-6.col-xs-6.text-center 名称
							th.col-lg-2.col-md-2.col-sm-2.col-xs-2.text-center 数量
							th.col-lg-1.col-md-3.col-sm-3.col-xs-3.text-center 总价
						tr(ng-repeat="product in order.products")
							td 
								a.text-center(ng-href="{{product.href}}") {{product.name}}
								em.small(ng-repeat="option in product.options")
									br
									| {{option.name}},{{option.value}}
							td.text-center {{product.quantity}}
							td.text-center {{product.total}}
					em.pull-right ({{order.payment_method}} , {{order.shipping_method}})
			.row
				.col-md-4.col-md-offset-8.col-xs-12
					table.table
						tr(ng-repeat="order_total in order_totals")
							td.text-right {{order_total.title}}:
							td.text-right ¥ {{order_total.value}}
			.page-header.h4 商品处理资讯
			.row
				div.col-md-4
					div.well(ng-class="{'well-blur': (order_status_level!= '_created')}")
						.row
							.col-xs-4
								img.center-block(src='../assets/images/checkout/box.png', style="width:100%")
							.col-xs-8
								p.text-center 我们已经收到您的订单。嘉丹妮尔的出货小组将会尽快为您装箱与出货。再耐心等一下下吧！
					
				div.col-md-4.hidden-xs
					div.well(ng-class="{'well-focus': (order_status_level=='_shipped'), 'well-blur': (order_status_level!= '_shipped')}")
						.row
							.col-xs-4
								img.center-block(src='../assets/images/checkout/car.png', style="width:100%")
							.col-xs-8
								p.text-center 出货啰！
				div.col-md-4.hidden-xs
					div.well(ng-class="{'well-focus': (order_status_level=='_received'), 'well-blur': (order_status_level!= '_received')}")
						.row
							.col-xs-4
								img.center-block(src='../assets/images/checkout/gift.png', style="width:100%")
							.col-xs-8
								p.text-center 谢谢您的订购，希望拿到商品的您会喜欢嘉丹妮尔
			.page-header
			div.text-muted
				p 注意事项：
				ul
					li 当您完成商品订购程序之后，系统将会自动发送电子邮件于您所留的电子邮件信箱。您可随时至「订单查询」确认订单最新资料，并可点选该笔订单的「订单明细」确认付款/出货资讯等资料。
					li 若当次订购享有跨产品或满额赠礼优惠者，有需要取消或退货时，需将当次订购之商品全部取消或退货。
					li 办理退换货时，您需要负担商品寄至本公司的邮资。

			button.col-md-3.col-xs-10.btn.btn-danger.btn-sharp.btn-lg.pull-right.text-justify(ng-click="backToHome()", role="button") 回到官网首页
				span.glyphicon.glyphicon-home.pull-right
